* {
        margin: 0;
        /*RESET*/
        padding: 0;
}

body {
        background-color: rgb(240, 234, 234);
}

/*ENCABEZADO*/
header {
        display: flex;
        background-color: rgb(255, 127, 39);
        justify-content: space-between;
}

.logo {
        width: 110px;
        height: 40px;
        padding-top: 15px;
        margin: 10px;

}

/*NAVEGADOR*/
ul {
        display: flex;
        padding: 10px;
        align-items: end;

}

ul :hover {
        color: white
}

ul li {
        list-style: none;
        padding: 15px;

}

ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;


}

/*BODY*/

.parrafo {
        padding-top: 70px;
}

P {
        font-size: 17px;
        padding: 25px;
        margin-top: 5px;
        text-align: center;
        color: rgb(243, 240, 229);
        font-family: "Special Gothic Expanded One", sans-serif;
        border: 3px solid #fafafa10;
        border-radius: 1rem;
        backdrop-filter: blur(0.9rem);
        -webkit-backdrop-filter: blur(0.4rem);
}

/**FONDO MAIN**/

main {
        background-image: url(../img/fondo\ azul.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 160vh;
}


/**IMAGENES INDEX**/

.conteiner {
        display: flex;
        padding-top: 70px;
        margin: 0;
        width: 1420px;
        height: 500px;
}


.conteiner img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease;
        border-top: solid 9px rgb(248, 248, 248);
        border-bottom: solid 9px rgb(255, 255, 255);
}

.conteiner :hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
}

.maps-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        margin-top: 30px;
        border-top: solid white;
}

/**FOOTER**/

footer {
        background-color: rgb(38, 38, 38);
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.copy {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
}

/**SERVICIOS**/
.trabajos {
        background-image: url(../img/repe.jpg);
        height: 380vh;
}

h1 {
        font-size: 50px;
        text-align: center;
        padding-top: 1cm;
}

h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
        color: white;
}


.galeria {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 350px);
        gap: 15px;
        justify-content: center;

}

.galeria :hover {
        cursor: crosshair;
        width: 500px;
        height: 500px;
        z-index: 1;
}

.item {
        position: relative;
}

.item h3 {
        position: absolute;
        bottom: 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: beige;
        background-color: rgba(0, 0, 0, 0.411);
        width: 100%;
        text-align: center;
}

.galeria div img {
        width: 100%;
        height: 100%;
        border: solid rgba(112, 112, 112, 0.459);
}

.carousel-inner img {
        object-fit: scale-down;
}

.carousel-control-prev-icon {
        background-color: rgb(255, 127, 39) !important;
}

.carousel-control-next-icon {
        background-color: rgb(255, 127, 39) !important;
}

/**RESERVAS**/
.politica {color: white;
font-size: 20px;
text-align: center;}
.reserva{list-style:circle white;
text-align: center;
background-color: black;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style:italic;
}
/**FORMULARIOS**/

form {
        width: 400px;
        height: 650px;
        text-align: center;
        margin-top: 80px;
        color: aliceblue;
        border: 3px solid #fafafa10;
        border-radius: 1rem;
        backdrop-filter: blur(0.9rem);
        -webkit-backdrop-filter: blur(0.4rem);

}

label {
        font-size: 15px;
        display: block;
        width: 100%;
}

input {
        margin-bottom: 20px;
        padding: 10px;
}



.contacto {
        font-size: 25px;
        color: white;
        text-align: center;
        border: 3px solid #fafafa10;
        border-radius: 1rem;
        backdrop-filter: blur(0.9rem);
        -webkit-backdrop-filter: blur(0.4rem);
}

.ubi {
        display: flex;
        justify-content: center;
        padding-top: 30px;
}

.turnos {
     flex-direction: column;
}
.formulario{display: flex;
justify-content: center;}

/**NOSOTROS**/
.certificado {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
}


/**MEDIA-QUERIES**/

@media screen and (max-width:1200px) {
        .certificado {
                flex-direction: column;
        }

        .certificado img {
                width: auto;
                height: auto;
                padding: 40px;
        }

        .nst {
                height: 150vh;
        }

        .galeria {
                display: grid;
                grid-template-columns: repeat(2, 300px);
                grid-template-rows: repeat(6, 200px);
        }

        .galeria div img {
                width: 100%;
                height: 100%;
                object-fit: cover;
        }

        .maps-logo {
                width: auto;
                height: auto;
        }

        .init {
                height: 150vh;
        }
}

@media screen and (max-width:1055px) {
        .conteiner {
                width: auto;
                height: auto;
        }

        main {
                height: 130vh;
        }

        p {
                font-size: 12px;
        }

        form {
                width: 320px;
                height: 500px;
                padding: 10px;
                margin: 10px;
        }

        .trabajos {
                height: 340vh;
        }
}

@media screen and (max-width:875px) {
        header {
                flex-direction: column;
                align-items: center
        }

        .conteiner .bora {
                display: none;
        }

        .conteiner .lx {
                display: none;
        }

        ul {
                align-items: center;
                height: auto;
                width: auto;
        }

        .galeria {
                display: grid;
                grid-template-columns: repeat(2, 200px);
                grid-template-rows: repeat(6, 200px);
        }

        h1 {
                font-size: 30px;
        }

        h2 {
                font-size: 15px;
        }

        .contacto {
                font-size: 18px;
        }

        .copy {
                font-size: 7px;
        }

        .maps-logo iframe {
                width: auto;
                height: 200px;
        }

        .maps-logo img {
                height: 120px;
        }
        .reserva{font-size: 15px;}
}

@media screen and (max-width:769px) {
        .d-none {
                display: block !important;
        }
}

@media screen and (max-width:581px) {
        ul li {
                padding: 8px;
                font-size: 10px;
        }

        ul {
                padding: 7px;
        }

        p {
                font-size: 9px;
        }

        .certificado {
                padding: 10px;
        }

        h1 {
                font-size: 20px;
        }

        h2 {
                font-size: 18px;
        }

        form {
                width: 280px;
                height: 470px;

        }

        label {
                font-size: 12px;
        }
        input {
        
        padding: 7px;
}


        .maps-logo iframe {
                width: 170px;
                height: 150px;
        }

        .maps-logo img {
                height: 100px;
        }

        .init {
                height: 130vh;
        }

        .trabajos {
                height: 330vh;
        }
        .reserva{font-size: 11px;}
}

@media screen and (max-width: 465px) {

        .galeria {
                display: grid;
                grid-template-columns: repeat(2, 150px);
                grid-template-rows: repeat(6, 150px);
        }

        .galeria :hover {
                width: 220px;
                height: 220px;
        }

        h2 {
                font-size: 15px;
        }

        .copy {
                font-size: 5px;
        }

        .maps-logo iframe {
                width: 150px;
                height: 130px;
        }

        .maps-logo img {
                height: 80px;
        }

        .init {
                height: 130vh;
        }

        .trabajos {
                height: 300vh;
        }
}